
  <script>
    (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
  </script>
  
   <!--[if IE 8]>
      <script type="text/javascript">
         (function(){if(window.opera){return;}
         setTimeout(function(){var a=document,g,b={families:(g=
         ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-a7369d48db4c172b4371ab9def59c5c9.css"]},
         c="https://assets.digital.cabinet-office.gov.uk/static/vendor/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
         e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
         ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
         .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
  </script>
  <![endif]-->
  
  <!--[if lt IE 9]>
    <script src="//dfs953ne00y1n.cloudfront.net/script/vendor/assets-digital-cabinet-office-gov-uk-static/ie.js" type="text/javascript"></script>
  <![endif]-->
  
  <script src='/scripts/jquery.js' type='text/javascript'></script>
  <link href="/styles/highlight/xcode.css"   media="screen" rel="stylesheet" type="text/css" />
  <!--[if gte IE 10]><!-- and all other browsers -->
  <script src='/scripts/highlight.pack.js'   type='text/javascript'></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="//dfs953ne00y1n.cloudfront.net/script/vendor/hyphenate.js"   type="text/javascript"></script>
  <![endif]-->
  <!--[if lt IE 10]>
      <script src='/scripts/ie_hljs.js' type='text/javascript'></script>
  <![endif]-->
  