<!-- CH.GOV.UK HEADER -->
    <header class="with-proposition" id="global-header" role="banner">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="/" title="Go to the Companies House Developer Hub" id="logo" class="content">
                        <!--img src="//cdn.orctel.internal:4003/images/companies_house_digital_logo.png" alt="Companies House"-->
                        Companies House
                    </a>
                </div>
            </div>

      <div class="header-proposition">
        <div class="content">
          <nav id="proposition-menu">
            <a href="/" id="proposition-name">Linked Data Service</a>
          </nav>
        </div>
      </div>
    </div>
    </header>
    <!--end header-->