<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
      <a href="http://www.companieshouse.gov.uk" title="Go to the Companies House homepage" id="logo" class="content">
          Companies House
        </a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <a href="/" id="proposition-name">Linked Data Service</a>
          <ul id="proposition-links">
            <li><a href="/app/explore">Explore</a></li>
            <li><a href="/app/explore/sparql.html">SPARQL query</a></li>
            <li><a href="feedback">Feedback</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
