#parse( "macros/navigation.vm" )

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <div class="sr-only">Toggle navigation</div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </button>
      #parse( "partials/title-brand.vm" )
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/companies/" id="proposition-name">Linked Data Service</a>
          <ul id="proposition-links">
            <li><a href="/companies/app/explore/sparql.html">SPARQL query</a></li>
            <li><a href="/companies/app/explore">Example</a></li>
            <li><a href="http://triplestoreforum.aws.chdev.org/">Forum</a></li>
            <li><a href="/companies/docs/about-this-service.html">About</a></li>
          </ul>
        </li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->

  <div class="elda-menu">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        #parse( "partials/resource-links.vm" )
        #parse( "partials/page-size-links.vm" )
        #parse( "partials/format-links.vm" )
        #parse( "partials/view-links.vm" )
      </ul>
    </div>
  </div>
</nav>
