#parse( "partials/analytics.vm" )

<p class="lead">
  This page shows details of the linked-data about company registrations.
  Use this view to explore the links between resources, or download data.
  See the
  <a href="/companies/docs/data-viewer-quickstartguide.html">quick start guide</a>
  for additional guidance.
</p>
